{% extends '::baseNew.html.twig' %}

{% block title %}
    {% if action=='add' %}
        Add Category
    {% else %}
        Edit Category
    {% endif %}
{% endblock %}

{% block menusub %}
    {{ parent() }}
    <ul>
        <li><a href="{{ url('acme_store_listCategory') }}">List</a></li>
    </ul>
{% endblock %}

{% block body %}
    {% if action == 'add' %}
        <h2>Add Category</h2>
    {% else %}
        <h2>Edit Category</h2>
    {% endif %}
    <hr/>
    {{ form(formCategory) }}
{% endblock %}