<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="{{ url('acme_store_index') }}">Home</a></li>
                <li><a href="{{ url('acme_store_listProduct') }}">Product</a></li>
                <li><a href="{{ url('acme_store_listCategory') }}">Category</a></li>
            </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block menusub %}
            <h3>Sub Action</h3>
        {% endblock %}
        {% block body %}{% endblock %}
    </div>
</body>
</html>