{% extends "::base.html.twig" %}

{% block title 'Hello Bundle' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/acmehello/css/style.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/acmehello/css/bootstrap.min.css') }}" />
{% endblock %}

{% block body %}
<div id="content">
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</div>    
{% endblock %}
