hr{
    margin: 10px 0px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.color-white{
    color: #ffffff ;
}
.font-size-14{
font-size: 14px;
}
.table-border-right th,
.table-border-right td{
    border-right:1px solid #dddddd ;
}
.table-border-right th:last-child,
.table-border-right td:last-child{
    border-right: none;
}
.bg-darkgray{
    background: #dddddd;
}
.padding-0{
    padding: 0;
}
.padding-lr30{
    padding: 0 30px;
}
table.border-none td,
table.border-none th,
table.border-none{
    border: none !important;
}
.min-height-100{
    min-height: 100px;
}
/* css all Block */
.block-user-status{
    line-height: 53px;
}
.block-user-status a{
    color: #ffffff;
    text-decoration: underline;
}
.block_link_overview a{
    text-decoration: underline;
    padding-right: 10px;
}
.block_link_pds{
    margin-top: 10px;
}
.block_link_pds hr{
    margin: 5px 0px;
}
.block_link_pds a{
    padding: 0 5px;
}
.block_table1{
    margin-top: 10px;
}
.block_table1 th,
.block_table1{
    text-align: center;
}
.block_category .block_blockquote{
    float: left;
    width: 100%;
}
.td_progress small,
.block_individual small,
.block_category .block_principle small,
.block_category .block_blockquote small{
    float: left;
    margin-right: 5px;
}
.td_progress small,
.block_individual small,
.block_category .block_principle small,
.block_category .block_blockquote table small{
    width: 35px;
}
.td_progress .progress,
.block_individual .progress,
.block_category .block_principle .progress,
.block_category .block_blockquote .progress{
    margin-bottom: 0;
    margin-top: 9px;
}
.block_blockquote{
    margin-top: 10px;
}
.block_blockquote_text{
    padding-top: 37px;
    padding-left: 13px;
}
.block_principle{
    text-align: center;
}